fasttext==0.9.2
nltk==3.6.1
dataclasses==0.6
fasttext==0.9.2
fqdn==1.5.1
isoduration==20.11.0
jsonpointer==2.3
jupyter==1.0.0
matplotlib==3.7.1
nltk==3.6.1
numba==0.57.0
peewee==3.16.2
pip-chill==1.0.3
scipy==1.10.1
uri-template==1.2.0
warofwords==1.0
webcolors==1.13
